src/MiniBlog.ServiceClient/Connected Services/Integration/BlogService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiniBlog.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiniBlog.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArticleDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ArticlePreviewDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfCommentDto" />
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArticleDto" nillable="true" type="tns:ArticleDto" />
  <xs:complexType name="ArticlePreviewDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArticlePreviewDto" nillable="true" type="tns:ArticlePreviewDto" />
  <xs:complexType name="ArrayOfCommentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentDto" nillable="true" type="tns:CommentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentDto" nillable="true" type="tns:ArrayOfCommentDto" />
  <xs:complexType name="CommentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentDto" nillable="true" type="tns:CommentDto" />
  <xs:complexType name="ServiceFaultMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFaultMessage" nillable="true" type="tns:ServiceFaultMessage" />
  <xs:complexType name="ArrayOfArticlePreviewDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArticlePreviewDto" nillable="true" type="tns:ArticlePreviewDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticlePreviewDto" nillable="true" type="tns:ArrayOfArticlePreviewDto" />
</xs:schema>