src/MiniBlog.ServiceClient/Connected Services/Integration/BlogService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiniBlog.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiniBlog.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Article">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ArticlePreview">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Article" nillable="true" type="tns:Article" />
  <xs:complexType name="ArticlePreview">
    <xs:sequence>
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArticlePreview" nillable="true" type="tns:ArticlePreview" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="ArrayOfArticlePreview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArticlePreview" nillable="true" type="tns:ArticlePreview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticlePreview" nillable="true" type="tns:ArrayOfArticlePreview" />
</xs:schema>