src/MiniBlog.ServiceClient/Connected Services/Integration/BlogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49542/Services/BlogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MiniBlog.Model" />
  <xs:element name="AddArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MiniBlog.Model" minOccurs="0" name="article" nillable="true" type="q1:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArticleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleId" type="xs:int" />
        <xs:element minOccurs="0" name="commentText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArticleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MiniBlog.Model" minOccurs="0" name="GetArticleResult" nillable="true" type="q2:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlePreviews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlePreviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MiniBlog.Model" minOccurs="0" name="GetArticlePreviewsResult" nillable="true" type="q3:ArrayOfArticlePreview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>